{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% endblock meta %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
              theme: {
                extend: {
                  colors: {
                  },
                }
              }
            }
          </script>
        <style>
          body {
              background-color: #1a202c;
              color: #374151;
          }
      </style>
    </head>
    <body style="padding-top: 4rem">
        {% block content %}
        {% endblock content %}
    </body>
</html