{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="w-screen flex flex-col items-center justify-center">
  <div class="bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
    style="width: 25%">
    <h1 class="text-xl text-center font-medium text-gray-900 dark:text-white">Login</h1>
    <form class="space-y-6" method="POST" action="">
      {% csrf_token %}
      <div>
        <h5 class="text-xl pb-2 font-medium text-gray-900 dark:text-white">Username:</h5>
        <input type="text" name="username" placeholder="Username"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
      </div>
      <div>
        <h5 class="text-xl pb-2 font-medium text-gray-900 dark:text-white">Password:</h5>
        <div>
          <input type="password" name="password" placeholder="Password"
            class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        </div>
      </div>
      <div class="text-center">
        <button type="button"
          class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
          <input class="btn login_btn" type="submit" value="Login" />
        </button>
      </div>
  </div>
  </form>
  <div class="flex flex-col text-base pt-4 font-medium text-gray-500">
    <div class="text-center">
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li class="inline-flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-exclamation-triangle-fill mr-2" viewBox="0 0 16 16">
            <path
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg><span>{{ message }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      Don't have an account yet?
      <a href="{% url 'main:register' %}" class="text-blue-700 hover:underline dark:text-blue-500">
        Register now!
      </a>
    </div>
  </div>
</div>
{% endblock content %}